.container{
    width: 98%;
    margin: 0 auto;
    margin-top: 40px;
}
.card{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }
  
.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  